<% if current_page?(root_path)%>
  <div id="topPudding">
    <h1 class="d-md-none">あなたに<br/>プリンなひとときを</h1>
    <h1 class="d-none d-md-block">あなたにプリンなひとときを<br>プリン好きによる<br>プリン好きのためのサイト</h1>
  </div>
<% end %>