/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

img {
  object-fit: cover;
  /*object-position: 0.0;*/
}

body {
  background-color: #fff3b8;
  /*color: #bc611e;*/
  color: #892F1B;
}

hr {
  background-color: #892F1B;
  height: 1px;
  margin-top: 0;
}

.btn-primary {
  color: #fff3b8;
  background-color: #892f1B;
  border-color: #892f1B;
}


.btn-primary:focus,
.btn-primary.focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-primary.dropdown-toggle:focus {
  color: #892f1B;
  background-color: #fff3b8;
  border-color: #892f1B;
  box-shadow: 0 0 0 0.2rem rgba(137, 47, 27, 0.5);
}

.btn-primary:hover,
.btn-primary:not(:disabled):not(.disabled):active {
  color: #892f1B;
  background-color: #fff3b8;
  border-color: #892f1B;
}

.navbar {
  background-color: #892f1B;
  color: #fff3b8;
}

.navbar-brand {
  color: #fff3b8 !important;
}

.table-bordered td,
.table-bordered th {
  border-color: #892f1B;
}

.nav-tabs .nav-link.active {
  background-color: #892f1B;
  border-color: #892f1B;
  color: #fff3b8;
}

.nav-tabs .nav-link {
  border-color: #892f1B;
  color: #892f1B;
}

.list-group-item {
  color: #892f1B;
  background-color: #fff3b8;
  border-color: #892f1B;
}

#topPudding {
  color: white;
  height: 700px;
  width: 100vw;
  padding-top: 200px;
  padding-left: 15px;
  background-image: url("/assets/pudding_top.jpg");
  background-size: cover;
  background-position: center top;
}

#topPudding h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px
}
